.wrap ul {
  width: 90%;
  height: 90%;
  position: absolute;
  left: 50%;
  margin-left: -45%;
  top: 50%;
  margin-top: -45%;
  border-radius: 50%;
  overflow: hidden;
  background: #166dab;
  box-shadow: 0px 0px 12px 2px #152c3c;
}

.wrap ul li:nth-child(1) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  transform: rotate(30deg);
  transform-origin: center 315px 10px;
}
/*  依次類推到第12個... */

.wrap ul li:nth-child(odd):after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 89px solid transparent;
  border-right: 89px solid transparent;
  border-top: 308px solid #1b7b54;
}


#my-lucky{
  position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;   
 
}